html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	/*Временно для сетки*/
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	background-position: top;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 20px -5px #6e6e6e;
	box-shadow: 0 0 20px -5px #6e6e6e;
	background-repeat: no-repeat;
}

.catalogy {
	background-image: none;
}

.banner {
	background: url("../img/banner.jpg");
	min-height: 509px;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: #c9c9c9;
}


/*СЕТКИ 1 СТРАНИЦА*/

.header {
	margin-bottom: 0px;
}

.main-navigation {
	background: transparent;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.site-navigation li {
	width: 240px;
	display: block;
	padding: 16px 0 15px
}


/*
.logo-sedona {
position: absolute;
left: 50%;
transform: translateX(-50%);
}
*/

.site-navigation li:nth-child(1) {
	padding-left: 72px
}

.site-navigation li:nth-child(2) {
	margin-right: 240px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3) {
	text-align: center;
}

.site-navigation li:nth-child(4) {
	padding-right: 72px;
	text-align: right;
}

.main-navigation img {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.sorting-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	width: 293px;
	font-size: 12px;
	line-height: 18px
}

.for-rating {
	margin-left: 1px;
	padding-right: 15px;
}

.up-down {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: flex;
	list-style: none;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 523px;
}

.for-type a,
.for-rating a {
	color: #000000;
	border-bottom: 1px dotted #81b3d2;
	opacity: 30%;
}

.for-type a:focus,
.for-rating a:focus,
.for-type a:hover,
.for-rating a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
	opacity: 100%;
}

.for-type a:active,
.for-rating a:active {
	color: #000000;
	opacity: 100%;
}

.for-prise a {
	color: #81b3d2;
}

.banner {
	display: block;
}

.advantages {
	min-height: 256px;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.advantages-description {
	width: 400px;
}

.reasons {
	min-height: 260px;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 330px;
}

.reasons-description .picture-gift {
	position: absolute;
	position: absolute;
	left: 4px;
	top: 55px;
	-webkit-transform: translateX(165px);
	-ms-transform: translateX(165px);
	transform: translateX(165px);
}

.reasons-description .picture-burger {
	position: absolute;
	position: absolute;
	left: -2px;
	top: 60px;
	-webkit-transform: translateX(165px);
	-ms-transform: translateX(165px);
	transform: translateX(165px);
}

.reasons-description .picture-home {
	position: absolute;
	left: -2px;
	top: 60px;
	-webkit-transform: translateX(165px);
	-ms-transform: translateX(165px);
	transform: translateX(165px);
}

.reasons-description {
	text-align: center;
	width: 400px;
	position: relative;
	padding-top: 165px;
	padding-bottom: 30px;
}

.advantages-blue {
	margin: 0;
}

.advantages-description {
	text-align: center;
	padding-top: 46px;
}

.advantages-gray {
	margin: 0;
}

.form {
	margin-top: 0;
	position: relative;
}

.search-form {
	padding-bottom: 34px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-form-container {}


/*СЕТКИ ВТОРАЯ СТРАНИЦА*/

.form-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 219px;
	margin: 0;
	padding: 0;
	background-color: #769abc;
	background: url("../img/filter-background.jpg");
	background-position-x: -1px;
	background-position-y: -55px;
}

.infrastructure legend {
	padding-top: 38px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
}

.filter-input-checkbox {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	cursor: pointer;
	z-index: 10;
	opacity: 0;
}

.input {
	margin-bottom: 22px;
	padding-left: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input label {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 105px;
	z-index: 1;
}

.input label:before {
	display: block;
	position: absolute;
	background: url("../svg/checkbox-off.svg");
	content:"" ;
	left: -36px;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}

.filter-input-checkbox:disabled+label:before {
	display: block;
	position: absolute;
	background: url("../svg/checkbox-off-disabled.svg");
	content:"" ;
	left: -36px;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;


}

.filter-input-checkbox:checked:disabled+label:after {
	display: block;
	position: absolute;
	background: url("../svg/checkbox-on-disabled.svg");
	content:"" ;
	left: -36px;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}


.filter-input-checkbox:checked+label:after {
	content:"" ;
	position: absolute;
	background: url("../svg/checkbox-on.svg");
	left: -36px;
	top: 50%;
	width: 24px;
	height: 25px;
	margin-top: -12px;
	background-repeat: no-repeat;
}

.checkbox-form {
	position: relative;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 72px;
	margin-right: 72px;
	width: 1056px;
}

.filter-range {
	width: 307px;
}

.infrastructure {
	width: 241px;
}

.type-house {
	width: 288px;
}

.scroll {
	width: 328px;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 85px;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	border-bottom: 1px solid #e5e5e5;
}

.iframe {
	width: 1200px;
	min-height: 593px;
	position: absolute;
	bottom: -121px;
	background-color: #c9c9c9;
	z-index: 2;
	background: url("../img/map.jpg");
}

.iframe iframe {
	border: none;
}

.sorting h2 {
	margin-left: 73px;
}

.sorting p {
	margin-left: 47px;
}

.type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.hotel-img {
	padding-left: 72px;
	padding-top: 29px;
}

.hotel-img img {
	background-color: #c9c9c9;
}

.hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 151px;
	border-bottom: 1px solid #e5e5e5;
}

.housename {
	padding: 0;
	margin: 0;
	padding-top: 24px;
}

.maininfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 781px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 92px;
}

.hotel-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 260px;
	margin-left: 31px;
}

.detailstype {
	width: 111px;
	min-height: 88px;
}

.bookprice {
	width: 144px;
	margin-left: 4px;
}

.rates-4-stars {
	margin-left: auto;
	width: 89px;
	height: 17px;
	background-image: url("../svg/star.svg");
	background-size: 18px;
	background-repeat: space;
	margin-top: 28px;
	margin-left: 51px;
}

.rates-3-stars {
	margin-left: auto;
	width: 65px;
	height: 17px;
	background-image: url("../svg/star.svg");
	background-size: 18px;
	background-repeat: space;
	margin-top: 28px;
}

.rates-2-stars {
	margin-left: auto;
	width: 40px;
	height: 17px;
	background-image: url("../svg/star.svg");
	background-size: 18px;
	background-repeat: space;
	margin-top: 28px;
}


/*СЕТКИ ФУТЕРА*/

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	min-height: 122px;
	padding-top: 26px;
	background-color: rgba(247, 247, 247, 0.77);
	position: relative;
	z-index: 4;
}

.hashtag {
	width: 400px;
	padding-bottom: 6px;
}

.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 153px;
	padding: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 4px;
	flex-wrap: wrap;
}

.social-list-container {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 400px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: -9px;
}

.footer-logo {
	width: 400px;
	margin-top: 9px;
}

.website {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 102px;
	width: 400px;
	padding-left: 102px;
	padding-bottom: 6px;
}

.footer-logo span {
	padding-right: 11px;
}


/*Навигация*/

.site-navigation {
	font-size: 14px;
	list-style: none;
	background-color: white;
}

.site-navigation a {
	color: #000000;
	font-weight: bold;
}

.active a {
	color: #000000;
	opacity: 30%;
}

.site-navigation a:focus,
.site-navigation a:hover {
	color: #81b3d2
}

.site-navigation a:active {
	color: #b2b2b2
}


/*для каталога (2стр)*/


/*
.main a {
  color: #766357;
}
*/

.hidden:not(:active) {
	display: none;
}


/*Первая страница*/

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}



.banner {
	background-repeat: no-repeat;
}

.discribe {
	min-height: 214px;
}

.discribe h2 {
	text-align: center;
	font-size: 21px;
	color: #000000;
	width: 447px;
	margin-left: 376px;
	margin-top: 0;
	padding-top: 59px;
}

.discribe p {
	text-align: center;
	font-size: 14px;
	color: #333333;
	margin-top: 0;
	padding-top: 11px;
	padding-right: 5px;
}

.advantages-blue .advantages-description {
	background-color: #81b3d2;
	color: white;
}

.advantages-description h4 {
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	width: 159px;
	margin-left: 120px;
	margin-top: 2px;
	margin-bottom: 20px;
}

.advantages-description .num1
{color: #ffffff;

}

.advantages-description span {
	font-size: 14px;
	line-height: 21px;
	padding-top: 3px;
	display: block;
	color: #333333;
}

.advantages-description .white {
	color: #ffffff;
}

.advantages-description .num2 {
	font-size: 14px;
	line-height: 21px;
	width: 361px;
	padding-left: 40px;
	margin-top: 21px;
}

.advantages-description .num1 {
	font-size: 14px;
	line-height: 21px;
	width: 345px;
	padding-left: 52px;
	margin-top: 13px;
	padding-top: 5px;
}

.advantages-description .num3 {
	font-size: 14px;
	line-height: 21px;
	width: 325px;
	padding-left: 74px;
	margin-top: 19px;
	color:#333333;
}

.advantages-description .num4 {
	font-size: 14px;
	line-height: 21px;
	width: 338px;
	padding-left: 61px;
	margin-top: 19px;
	color: #333333;
}

.advantages-description .num5 {
	font-size: 14px;
	line-height: 21px;
	width: 252px;
	margin-left: 74px;
	padding-top: 6px;
	color: #333333;
}

.advantages-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #c9c9c9;
}

.advantages-gray .advantages-description {
	background-color: #eeeeee;
	min-height: 238px;
}

.reasons-description h4 {
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	margin: -4px;
}

.reasons-description .gift {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin: 0;
	padding-top: 28px;
	padding-left: 38px;
	width: 362px;
	color: #333333;
}

.reasons-description .house {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin: 0;
	padding-top: 28px;
	padding-left: 50px;
	width: 346px;
	color: #333333;
}

.reasons-description .food {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin: 0;
	padding-top: 28px;
	padding-left: 56px;
	width: 341px;
	color: #333333;
}

.sedona-search {
	font: inherit;
	color: #ffffff;
	background-color: #766357;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	padding: 31px 139px;
	cursor: pointer;
	outline: none;
	padding-top: 33px;
	padding-bottom: 30px;
	border: none;
}

.big-button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.form-container-map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 480px;
	position: relative;
	z-index: 3;
	margin-left: 317px;
}

.search-form-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 567px;
	min-height: 395px;
	background-color: white;
	margin-bottom: auto;
	padding-left: 56px;
	padding-top: 63px;
}

.date-1 {
	line-height: 26px;
	font-weight: bold;
	margin-right: 23px;
}

.date-2 {
	line-height: 26px;
	font-weight: bold;
	margin-right: 19px;
}

.input {
	line-height: 26px;
	font-weight: bold;
	width: 345px;
}

.infra {
	width: 220px;
	margin-bottom: 25px;
	padding-left: 4px;
}

.amount-1 {
	line-height: 26px;
	font-weight: bold;
	padding-top: 2px;
}

.amount-2 {
	line-height: 26px;
	font-weight: bold;
	padding-top: 8px;
}

.search-from-calendar {
	position: absolute;
	fill: #a9a9a9;
	border: none;
	left: 421px;
	outline: 0;
	background: none;
	top: -1px;
}

.search-from-calendar:hover svg,
.search-from-calendar:focus svg {
	fill: black;
	outline: 0;
	border: none;
}

.search-from-calendar:active svg {
	fill: #81b3d2;
	border: none;
	outline: 0;
}

.plus-btn {
	position: relative;
	width: 38px;
	height: 38px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.plus-btn::before,
.plus-btn::after {
	position: absolute;
	content:"";
	width: 3px;
	height: 11px;
	background-color: #a9a9a9;
	top: 15px;
	right: 17px;
}

.plus-btn::before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.min-btn {
	position: relative;
	width: 38px;
	height: 38px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.min-btn::after {
	position: absolute;
	content:"";
	width: 3px;
	height: 11px;
	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	left: 18px;
	top: 15px;
}

.min-btn:hover::after,
.min-btn:focus::after {
	background-color: black;
}

.min-btn:active::after {
	background-color: #81b3d2;
}

.plus-btn:hover::after,
.plus-btn:hover::before {
	background-color: black;
}

.plus-btn:focus::after,
.plus-btn:focus::before {
	background-color: black;
}

.plus-btn:active::after,
.plus-btn:active::before {
	background-color: #81b3d2;
}

.input-1::-webkit-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 7px;
}

.input-1::-moz-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 7px;
}

.input-1:-ms-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 7px;
}

.input-1::-ms-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 7px;
}

.input-1::placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 6px;
	padding-bottom: 0px;
	outline: none;
	border: none;
	margin: 0;
}

.input-2::-webkit-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 6px;
}

.input-2::-moz-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
}

.input-2:-ms-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 7px;
	padding-bottom: 9px;
}

.input-2::-ms-input-placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 4px;
	padding-bottom: 9px;
}

.input-2::placeholder {
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: auto;
	color: black;
	text-transform: uppercase;
	padding-left: 7px;
	padding-bottom: px;
}

.input-1:focus::-webkit-input-placeholder {
	background-color: white;
}

.input-1:focus::-moz-placeholder {
	background-color: white;
}

.input-1:focus:-ms-input-placeholder {
	background-color: white;
}

.input-1:focus::-ms-input-placeholder {
	background-color: white;
}

.input-1:focus::placeholder {
	background-color: white;
}

.input-2:focus::-webkit-input-placeholder {
	background-color: white;
}

.input-2:focus::-moz-placeholder {
	background-color: white;
}

.input-2:focus:-ms-input-placeholder {
	background-color: white;
}

.input-2:focus::-ms-input-placeholder {
	background-color: white;
}

.input-2:focus::placeholder {
	background-color: white;
}

.adult-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 39px;
	margin-top: -5px;
}

.child-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 0px;
	margin-left: 26px;
}

.input {
	position: relative;
}

.form-container-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 468px;
}

.search-form-amount-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.adult {
	width: 38px;
	position: relative;
	height: 38px;
	display: block;
	background-color: #f2f2f2;
	border: none;
	text-align: center;
	font-weight: bold;
	outline: none;
} 

.adult:hover,
.child:hover{
   background-color: #ebebeb;
}

.child {
	width: 38px;
	position: relative;
	height: 38px;
	display: block;
	background-color: #f2f2f2;
	border: none;
	text-align: center;
	font-weight: bold;
	outline: none;
}

.adult:focus,
.child:focus{
   background-color:#ffffff;
   border: 2px solid #e5e5e5;
}



.search-form-amount-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 53px;
	margin-top: -7px;
}

.sedona-search:hover {
	background-color: #604e43
}

.sedona-search:active {
	background-color: #503e33;
	color: rgba(255,255,255,.3);
}

.form-discribe {
	min-height: 151px;
	margin-top: 51px;
}

.form h3 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	padding-top: 2px;
}

.form p {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding-top: 23px;
	color: #333333;
}

.search-form .input-1 {
	font: inherit;
	border: 2px solid transparent;
	background-color: #f2f2f2;
	font-weight: bold;
	margin-left: 24px;
	position: relative;
	display: block;
	margin: 0;
	width: 344px;
	padding: 5px;
	margin-top: -7px;
	padding-top: 5px;
	outline: none;
	min-height: 37px;
}

.search-form .input-2 {
	font: inherit;
	border: 2px solid transparent;
	background-color: #f2f2f2;
	font-weight: bold;
	margin-left: 24px;
	position: relative;
	display: block;
	margin: 0;
	width: 344px;
	padding: 2px;
	margin-top: -6px;
	padding-top: 5px;
	outline: none;
	min-height: 36px;
}

.search-form-amount input {
	font: inherit;
	border: none;
	background-color: #f2f2f2;
	width: 28px;
}

.search-form .input:focus {
	background-color: #ffffff;
	outline: none;
	border: 2px solid #e5e5e5;
}

 .input-1:hover {
	background-color: #ebebeb;
	border: 2px solid transparent;
	outline: none;
}
 .input-2:hover {
    background-color: #ebebeb;
	border: 2px solid #e5e5e5;
	outline: none;
}

 


.found-sedona-hotels {
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	font-size: 21px;
	font-weight: bold;
	display: block;
	padding: 16px 132px;
	margin-top: 53px;
	margin-right: 55px;
}

.found-sedona-hotels:hover {
	background-color: #669ec0;
}

.found-sedona-hotels:active {
	background-color: #5496bd;
	color: rgba(255,255,255,.3);
}

.map {
	position: absolute;
	top: 240px;
	z-index: 1;
}


/*Вторая страница*/

.infrastructure legend {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 27px;
}

.type-house legend {
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 26px;
	padding-left: 3px;
}

.filter fieldset {
	border: none;
}

.input label {
	color: #ffffff;
	line-height: 21px;
	font-weight: normal;
	
}

.label-infro {
	padding-left: 4px;
}

.label-type {
	padding-left: 5px;
}

.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	padding-top: 10px;
}

.sorting p {
	font-size: 12px;
	line-height: 18px;
}

.sorting button {
	font-size: 12px;
	line-height: 18px;
	text-transform: none;
}

.up svg {
	fill: #cacaca;
}

.down svg {
	fill: #81b3d2;
}

.up svg:hover,
.up svg:focus {
	fill: black;
}

.up svg:active,
.down svg:active {
	fill: #81b3d2
}

.up {
	padding-right: 12px;
}

.checkbox-form-infrastructure {
	list-style: none;
	padding-left: 32px;
	padding-top: 7px;
	margin-top: 18px;
}

.checkbox-form-type {
	list-style: none;
	padding-left: 35px;
	padding-top: 7px;
	margin-top: 19px;
}

.type-list {
	width: 220px;
	margin-bottom: 25px;
	padding-left: 4px;
}

.housename a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.housename a:hover {
	color: #81b3d2;
}

.housename a:active {
	color: #000000;
	opacity: 30%;
}

.housetype {
	line-height: 21px;
	color: #333333;
	font-size: 14px;
	display: block;
	margin: 0;
}

.price {
	line-height: 21px;
	color: #333333;
	font-size: 14px;
	display: block;
}

.details {
	background-color: #81b3d2;
	color: white;
	line-height: 21px;
	font-weight: bold;
	display: block;
	width: 108px;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 15px;
}

.details:hover {
	background-color: #669ec0;
}


.details:active {
background-color: #5496bd;
color: rgba(255,255,255,.3);


}



.book {
	background-color: #766357;
	color: white;
	line-height: 21px;
	font-weight: bold;
	width: 143px;
	display: block;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 15px;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	background-color: #503e33;
	color: rgba(255,255,255,.3);
}

.rating {
	background-color: #f2f2f2;
	color: #666666;
	width: 111px;
	text-align: center;
	margin-left: 30px;
	margin-top: 46px;
	line-height: 21px;
	padding-top: 4px;
}


/*Футер*/

.catalog-footer {
	background-color: white;
}

.hashtag a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 124px;
}

.hashtag-catalog a {
	padding-left: 128px;
	padding-top: 4px;
}

.social-list {
	list-style: none;
}

.footer-logo span {
	color: #000000;
}

.social-link svg {
	fill: white;
	;
}

.social-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 48px;
	height: 50px;
	background-color: #81b3d2;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.list-2 {
	margin-top: -6px;
}

.footer-logo-catalog {
	margin-top: 13px;
}

.social-link:hover,
.social-link:focus {
	background-color: #669ec0;
}

.social-link:active {
	background-color: #5496bd;
}

.website svg {
	width: 118px;
	height: 40px;
	fill: black;
	padding-right: 7px;
}

.website svg:hover,
.website svg:focus {
	fill: #81b3d2
}

.website svg:active {
	fill: #bebcbd
}

.hashtag .phone {
	padding-top: 7px;
}


/*ФИЛЬТР НА 2 СТРАНИЦЕ*/

.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 230px;
	margin-top: 27px;
}

.filter-range-title {
	margin-bottom: 11px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	padding-left: 4px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 320px;
}

.price-controls::after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
	padding-top:
}

.price-controls .min-price,
.price-controls .max-price {
	width: 148px;
	padding-left: 65px;
	line-height: 21px;
	padding-top: 3px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -8px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #ababab;
	transform: scale(1.2, 1.2);
}

.range-toggle-min {
	left: 2px;
}

.range-toggle-max {
	left: 77%;
}

.btn-transparent {
	display: block;
	padding: 5px 34px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 86px;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}