body {
  /*Временно для сетки*/
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  /*background-image: url("../img/back.jpg");*/
  background-position: top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /*
  background-image: url("../img/sedona-index.jpg");
  background-size: : 1372px auto;
  background-repeat: no-repeat;
  background-position: absolute; */
}

a {
  text-decoration: none;
}
img
{max-width: 100%}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px -5px #6e6e6e;
  background-repeat: no-repeat;

}

.catalogy {
  background-image: none;
}
р

}
/*временно для для фона*/
.filter-range{
	background-color: black;
}


/*СЕТКИ 1 СТРАНИЦА*/

.header {
    
    margin-bottom: 0px;
}

.main-navigation {
background: transparent;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;

}

.site-navigation {
margin: 0;
padding: 0;
display: flex;
margin-right: 73px;
margin-left: 73px;
margin-bottom: 15px;

}
.site-navigation li {
	width: 25%;
	display: block;
	padding-top: 20px;
}
/*
.logo-sedona {
position: absolute;
left: 50%;
transform: translateX(-50%);
}
*/

.main-navigation img {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.sorting-items{
	display: flex;
}
.up-down{
	display: flex;
}






.banner{
	display: block;

	
}
.advantages 
{min-height: 260px;
	margin:0;
	padding: 0;
	outline: 2px solid red;
	display: flex;
	margin-top: 56px;

}

.advantages-description
{width: 400px;
outline: 2px solid yellow;
}





.reasons{
min-height: 260px;
margin: 0;
padding: 0;
outline: 2px solid blue;
display: flex;
}

.reasons-description{
text-align: center;
width: 400px;
}
 
.advantages-blue{
margin: 0;
}
.advantages-description{
	text-align: center;
	padding-top: 45px;
}
.advantages-gray{
	margin:0;

}
.form{
	min-height: 769px;
	outline: 2px solid green;
	margin-top: 0;
}
.search-form{
	/*background-image: url("../img/map.jpg");
	width: 1200px;
	height: 473px;*/
}





/*СЕТКИ ВТОРАЯ СТРАНИЦА*/

.form-container{
	display: flex;
	justify-content: space-around;
	min-height: 219px;
	outline: 2px solid;
	margin: 0;
    padding: 0;


}
.filter{
outline: 2px solid
}
.filter-range{
	outline: 5px solid red;
}
.sorting{
display: flex;
min-height: 87px;
outline: 2px solid green;
align-items: baseline;

}
.sorting h2 {
margin-left: 73px;

}
.sorting p {
margin-left: 52px;
}
.type
{display: flex;
width: 400px;
justify-content: space-between;
}
.amara-img{
    padding-left: 72px;
    padding-top: 30px;
    width: 135px;

}
.desert-img{
 padding-left: 72px;
    padding-top: 30px;
    width: 135px;


}

.villas-img{
    padding-left: 72px;
    padding-top: 30px;
    width: 135px;



}


.hotel{
display: flex;
min-height: 152px;
outline: 2px solid;


}

.housename{
padding: 0;

}




.maininfo{
display: flex;
width: 781px;
flex-wrap: wrap;
outline: 2px solid red;
min-height: 92px;
}

.hotel-container{
	display: flex;
	outline: 2px solid pink;
	flex-wrap: wrap;
	width: 259px;
}

.detailstype{
outline: 2px solid blue;
width: 112px;


}

.bookprice{
outline: 2px solid;
width: 112px;
}

.rates{
	outline: 2px solid;
	margin-left: auto;
    padding-right: 73px;

}



/*СЕТКИ ФУТЕРА*/

.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 122px;
	outline: 2px solid black;
}
.hashtag{
	outline: 2px solid red;
	    width: 227px;

}

.socials-ul{
	outline: 2px solid blue;
	background-color: red;
}
.social-list{
	display: flex;


}
.footer-logo{
	outline: 2px solid green

}
.website{
	display: flex;
	align-items: center;
}
.footer-logo span{
	padding-right: 10px;
}















/*Навигация*/


.main-navigayion li:nth-child(1){
	text-align: left;
}



.main-navigation li:nth-child(2){
	text-align: left;
}

.main-navigation li:nth-child(3){
	text-align: right;
	padding-left: 90px;
}

.main-navigation li:nth-child(4){
	text-align: right;
}


.site-navigation {
  font-size: 14px;
  list-style: none;
  background-color: white;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2
}

.site-navigation a:active {
  color: #b2b2b2
}


/*для каталога (2стр)*/
/*
.main a {
  color: #766357;
}
*/




/*Первая страница*/

.hidden {
  display: none;
}


/*.banner{
background-image: url(../img/polygon.png);
}*/
.banner {
background-repeat: no-repeat;
}

.discribe h2 {
  text-align: center;
  font-size: 21px;
  color: #000000;
  width: 447px;
  margin-left: 385px;
}

.discribe p {
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin-left: 20px;
}

.advantages-blue .advantages-description
{background-color: #81b3d2;
 color:white;}

.advantages-description h4{
 font-size: 21px;
 font-weight: bold;
 line-height: 21px;
 width: 130px;
 margin-left: 135px;
 margin-top: 0px;

}

.advantages-description span{
 font-size: 14px;
 line-height: 21px;
}

.advantages-description p{
 font-size: 14px;
 line-height: 21px;
     margin-top: 20px;
    width: 290px;
    padding-left: 65px;

}
.advantages-image{
display: flex;
}

.advantages-gray .advantages-description{
background-color: #eeeeee;
}






.reasons-description h4 {
 font-size: 21px;
 font-weight: bold;
 line-height: 21px;

}

.reasons-description p {
 font-size: 14px;
 font-weight:400;
 line-height:21px;

}


.sedona-search {
  font: inherit;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.sedona-search:hover {
  background-color: #604e43
}

.sedona-search:active {
  background-color: #503e33;
  color: #908883
}

.form h3 {
  text-align: center;
  font-size: 30px;
  line-height: 36px
}

.form p {
  text-align: center;
  font-size: 14px;
  line-height: 24px
}

.search-form input {
  font: inherit;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
}

.search-form-amount input {
  font: inherit;
  border: none;
  background-color: #f2f2f2
}

.search-form input:focus {
  background-color: #ffffff
}

.search-form input:hover {
  background-color: #ebebeb
}

.found-sedona-hotels {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  font-weight: bold;
}

.found-sedona-hotels:hover {
  background-color: #669ec0;
}

.found-sedona-hotels:active {
  background-color: #5496bd;
  color: #93b9d2
}


/*Вторая страница*/

fieldset legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  /*(временно)*/
}

.filter fieldset {
  border: none;
}

li label {
  color: #ffffff;
  line-height: 21px;
  background-color: black;
  /*(временно)*/
}

.sorting h2{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting p{
 font-size: 12px;
 line-height: 18px;
}

.sorting button{
 font-size: 12px;
 line-height: 18px;
 text-transform: none;
}




.checkbox-form {
  list-style: none;
}

.housename a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.housename a:hover {
  color: #81b3d2;
}

.housename a:active {
  color: #c9c9c9
}

.housetype {
  line-height: 21px;
  color: #333333;
  font-size: 14px
}

.price {
  line-height: 21px;
  color: #333333;
  font-size: 14px
}

.details {
  background-color: #81b3d2;
  color: white;
  line-height: 21px;
  font-weight: bold;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  background-color: #5496bd;
  color: #93b9d2;
}

.book {
  background-color: #766357;
  color: white;
  line-height: 21px;
  font-weight: bold;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  background-color: #503e33;
  color: #908883;
}

.rating {
  background-color: #f2f2f2;
  color: #666666
}


/*Футер*/

.hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-list {
  
  list-style: none;
}

.footer-logo span {
  color: #000000;
}
 .social-link svg {
 	fill:red;
 }





/*ФИЛЬТР НА 2 СТРАНИЦЕ*/

.filter-range{

  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;

  background: #2a3e45;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase; }
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

